{% extends 'SiteFirstPageBundle::layout.html.twig' %}
{% block canonical %}{{ url('favorites_page', { region: top_panel.url_region }) }}{% endblock %}

{% block title 'Избранные объявления' %}

    {% block content %}
        <div class="clearfix">

            <!-- Объявления -->
            <div class="col-md-9 padding-5">

                <h1>Избранные объявления</h1>

                {% for flashMessage in app.session.flashbag.get('noticesite') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Закрыть</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('alertsite') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Закрыть</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}

                <!-- Таблица объявлений -->
                <div class="clearfix">
                    {% if advs|length %}
						{# Объявления #}
						<table class="table table-hover">

							{% for adv in advs %}
								<tr>
									<td>
										<div class="col-xs-4 col-sm-2 padding-0 text-center a-image">
											<a href="{{ path('site_adv_page', { category: adv.AdCategories.AdCategoriesRelatedByParentId.alias, subcategory: adv.AdCategories.alias, id: adv.id, alias: adv.alias, region: adv.Regions.alias }) }}"
											   title="{{ adv.name }}">
												{% if adv.AdvImagess[0] is defined %}
													<img src="{{ asset('images/a/images/') }}{{ adv.AdvImagess[0].thumb }}"
														 alt="{{ adv.name }}"
														 title="{{ adv.name }}">
													{% if adv.AdvImagess|length > 1 %}
														<span class="photo-count">
															<span title="{{ adv.AdvImagess|length }} фото">{{ adv.AdvImagess|length }}</span>
														</span>
													{% endif %}
												{% elseif adv.Shops is defined and adv.Shops.icon is defined %}
													<img src="{{ asset('images/shops/images/') }}{{ adv.Shops.icon }}"
														 alt="{{ adv.name }}"
														 title="{{ adv.name }}">
                        {% else %}
                          <img src="/images/no_image.png" alt="Нет изображения" title="{{ adv.name }}"> 
												{% endif %}
											</a>

											<div class="visible-xs text-center">
												<span class="line_price red">
													{% if adv.AdvPrices[0] is defined %}						
														{% if adv.Price > adv.AdvPrices[0].priceOld %}
															<i class="fa fa-arrow-up fa-fw green" title="Цена была поднята {{ adv.AdvPrices[0].date|date('d.m.Y') }}"></i>
														{% else %}
															<i class="fa fa-arrow-down fa-fw red" title="Цена была снижена {{ adv.AdvPrices[0].date|date('d.m.Y') }}"></i>
														{% endif %}
													{% endif %}
													{% if adv.dogovor %}
														Договорная
													{% else %}
														{% if adv.price %}
															{{ adv.price|number_format(0, '.', ' ') }} <i class="fa fa-rub"></i>
														{% else %}
															Бесплатно
														{% endif %}
													{% endif %}								
												</span><br>
												{% if adv.publishDate|date("d.m.y") == "now"|date("d.m.y") %}
													Сегодня
												{% elseif adv.publishDate|date("d.m.y") == "now"|date_modify("-1 day")|date("d.m.y") %}
													Вчера
												{% else %}
													{{ adv.publishDate|date("d.m.y") }}
												{% endif %}
												в {{ adv.publishDate|date("H:i") }}
											</div>
										</div>
										<div class="col-xs-8 col-sm-8 padding-5 adv-descr">
											<a onclick="delete_from_favorite_n({{ adv.id }})"
											   class="red" title="удалить из избранного"><i class="fa fa-times"></i></a>
											<a class="line-name"
											   href="{{ path('site_adv_page', { category: adv.AdCategories.AdCategoriesRelatedByParentId.alias, subcategory: adv.AdCategories.alias, id: adv.id, alias: adv.alias, region: adv.Regions.alias }) }}"
											   title="{{ adv.name }}">{{ adv.name }}</a>
											{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
												{% if adv.AdvCommentss.Data[0] is defined %}
													{% set found = false %}
													{% for comment in adv.AdvCommentss.Data|reverse %}
														{% if not found %}
															{% if comment.FosUserId == app.user.id %}
																<span class="glyphicon glyphicon-bookmark info"
																	  title="{{ comment.Comment }}"></span>
																{% set found = true %}
															{% endif %}
														{% endif %}
													{% endfor %}
												{% endif %}
											{% endif %}
											<br>
											<span class="grey">{{ adv.AdCategories.name }} {{ adv.Regions.pagetitle }}</span><br>
											{% if adv.deleted %}<b class="red">Показ объявления отключен</b>{% else %}{{ adv.description|truncate(150, true, ' ...') }}{% endif %}
										</div>
										<div class="hidden-xs col-sm-2 padding-0 text-center">
											<span class="line_price red">
												{% if adv.AdvPrices[0] is defined %}						
													{% if adv.Price > adv.AdvPrices[0].priceOld %}
														<i class="fa fa-arrow-up fa-fw green" title="Цена была поднята {{ adv.AdvPrices[0].date|date('d.m.Y') }}"></i>
													{% else %}
														<i class="fa fa-arrow-down fa-fw red" title="Цена была снижена {{ adv.AdvPrices[0].date|date('d.m.Y') }}"></i>
													{% endif %}
												{% endif %}
												{% if adv.dogovor %}Договорная
												{% else %}
													{% if adv.price %}{{ adv.price|number_format(0, '.', ' ') }} <i class="fa fa-rub"></i>
													{% else %}Бесплатно
													{% endif %}
												{% endif %}
											</span><br>
											{% if adv.publishDate|date("d.m.y") == "now"|date("d.m.y") %}Сегодня
											{% elseif adv.publishDate|date("d.m.y") == "now"|date_modify("-1 day")|date("d.m.y") %}Вчера
											{% else %}{{ adv.publishDate|date("d.m.y") }}
											{% endif %} в {{ adv.publishDate|date("H:i") }}
										</div>
									</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						Пока нет объявлений в Избранном. Чтобы добавить объявление в Избранное нажмите на закладку рядом с названием объявления.
					{% endif %}
                </div>
                {# Баннер #}
                {% if banner_bottom and user.roles[1] is not defined %}
                  <div class="clearfix padding-0 text-center banner" onclick="set_click({{ banner_bottom.id }})">
                    <div style="width: {% if banner_bottom.width %}{{ banner_bottom.width }}px{% else %}100%{% endif %}; margin: 0 auto; text-align: center;">
                      {{ banner_bottom.code|raw }}
                    </div>
                  </div>
                {% endif %}	
                
                <br>
                <h4 class="padding-5">Хотите разместить свое бесплатное объявление?</h4>
                <p class="padding-5">Чтобы подать бесплатное объявление необходимо заполнить простую форму
                    размещения бесплатного объявления, выбрать регион, рубрику, придумать привлекательный заголовок и полный текст своего
                    объявления, максимально заполнить характеристики и указать адекватную стоимость, свой e-mail
                    и телефон. Добавьте фотографии — они помогут привлечь больше просмотров вашего объявления.
                </p>
                <p class="padding-5">
                  <a class="btn btn-addnew" href="{{ path('add_adv_page') }}"
                    title="Подать бесплатное объявление">Подать объявление</a>
                 </p>
            </div>

            <!-- Правая сторона страницы -->
            <div class="col-md-3 padding-5">
                {% include 'SiteFirstPageBundle:Default:cabinet.html.twig' %} 
{# Баннер в правой колонке #}
{#
        {% if banner_right and user.roles[1] is not defined %}
          <div class="col-xs-12 padding-5 hidden-xs">					
            <aside>
              <div class="adv_right" onclick="set_click({{ banner_right.id }})">
                <div style="width: {{ banner_right.width }}px; margin: 0 auto;">{{ banner_right.code|raw }}</div>
              </div>
            </aside>					
          </div>
        {% endif %}    
     #}   
            </div>
        </div>
    {% endblock %}