{% extends 'SiteFirstPageBundle::layout.html.twig' %}
{% block title 'Мои сообщения' %}
{% block stylesheets %}
  {{ parent() }}  
  <link href="{{ asset('bundles/sitefirstpage/css/ZeroClipboard.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="clearfix">

        <div class="col-md-9 padding-5">

            {% include 'SiteFirstPageBundle:Cabinet:user_menu.html.twig' %}
            <h1>Мои сообщения</h1>

            {% for flashMessage in app.session.flashbag.get('noticesite') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('alertsite') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}

            {% if messages|length %}
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Дата</th>
                    <th>Сообщение</th>
                  </tr>
                </thead>
                <tbody>
                {% for message in messages if message %}
                  <tr{% if not message.viewed %} class="danger"{% endif %}>
                    <td>{{ message.date|date("d.m.Y в H:i") }}</td>
                    <td><a onclick="full_message({{ message.id }})"><strong class="text-nowrap">{{ message.senderName }}</strong></a><br>{{ message.senderEmail }}<br><span id="message_{{ message.id }}"></span></td>						
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
              <br>Нет сообщений<br><br>
            {% endif %}
            <br>
            
            <hr>
			{# Партнерская программа #}
			{% include 'SiteFirstPageBundle:Cabinet:partner.html.twig' %}  
                
		
				{# Баннер #}
                {% if banner_bottom and user.roles[1] is not defined %}
                  <div class="clearfix padding-0 text-center banner" onclick="set_click({{ banner_bottom.id }})">
                    <div style="width: {% if banner_bottom.width %}{{ banner_bottom.width }}px{% else %}100%{% endif %}; margin: 0 auto; text-align: center;">
                      {{ banner_bottom.code|raw }}
                    </div>
                  </div>
                {% endif %}	
                
                <br>
                <h4 class="padding-5">Хотите разместить свое бесплатное объявление?</h4>
                <p class="padding-5">Чтобы подать бесплатное объявление необходимо заполнить простую форму
                    размещения бесплатного объявления, выбрать регион, рубрику, придумать привлекательный заголовок и полный текст своего
                    объявления, максимально заполнить характеристики и указать адекватную стоимость, свой e-mail
                    и телефон. Добавьте фотографии — они помогут привлечь больше просмотров вашего объявления.
                </p>
                <p class="padding-5">
                  <a class="btn btn-addnew" href="{{ path('add_adv_page') }}"
                    title="Подать бесплатное объявление">Подать объявление</a>
                 </p>
                
        </div>

        <!-- Правая сторона страницы -->
        <div class="col-md-3 padding-5 hidden-xs">            

            {% include 'SiteFirstPageBundle:Default:cabinet.html.twig' %}   
{# Баннер в правой колонке #}
      {#  
        {% if banner_right and user.roles[1] is not defined %}
          <div class="col-xs-12 padding-5 hidden-xs">					
            <aside>
              <div class="adv_right" onclick="set_click({{ banner_right.id }})">
                <div style="width: {{ banner_right.width }}px; margin: 0 auto;">{{ banner_right.code|raw }}</div>
              </div>
            </aside>					
          </div>
        {% endif %}  
        #}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sitefirstpage/js/ZeroClipboard.min.js') }}"></script>
    <script>$(document).ready(function(){var clip = new ZeroClipboard($("#copy-button"));});</script>    
{% endblock %}