{% extends 'SiteFirstPageBundle::layout.html.twig' %}
{% form_theme form 'SiteFirstPageBundle:Form:add.html.twig' %}
{% use 'SimpleThingsFormExtraBundle:Form:field_type_help.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sitefirstpage/js/inputmask.js') }}" type="text/javascript"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru-RU&load=package.full" type="text/javascript"></script>
    <script>
      $(':input').inputmask();
      function set_address(adress) {
        var area = document.getElementById('advs_area_id').options[advs_area_id.selectedIndex].innerHTML;
        var area_id = document.getElementById('advs_area_id').value;
        var city = document.getElementById('advs_region_id').options[advs_region_id.selectedIndex].innerHTML;
        var city_id = document.getElementById('advs_region_id').value;
        if (area_id) {
          var fulladress = area;
        } else {
          var fulladress = '';
        }
        if (city_id) {
          fulladress = fulladress + ' ' + city;
        }
        if (adress) {
          fulladress = fulladress + ' ' + adress;
        }
        ymaps.geocode(fulladress).then(function (res) {
          placemark = new ymaps.Placemark(res.geoObjects.get(0).geometry.getCoordinates());
          myMap = $('#amap').data('map');
          myMap.geoObjects.each(function (context) {
            myMap.geoObjects.remove(context);
          });
          myMap.setCenter(res.geoObjects.get(0).geometry.getCoordinates(), 17, {
            checkZoomRange: true,
            duration: 500
          });
          myMap.geoObjects.add(new ymaps.Placemark(res.geoObjects.get(0).geometry.getCoordinates(), {}, {preset: 'twirl#darkBlueDotIcon'}));
        });
      }
    </script>
    {#<script src="{{ asset('bundles/sitefirstpage/js/corrector.js') }}" type="text/javascript"></script>#}
{% endblock %}

{% block title %}Подать объявление бесплатно{% if top_panel.in_town %} {{ top_panel.in_town }}{% endif %}{% endblock %}
{% block metatitle %}Подать объявление бесплатно{% if top_panel.in_town %} {{ top_panel.in_town }}{% endif %}{% endblock %}
{% block description %}Здесь бесплатно подают объявления{% if cat_select %} в рубрику {{ cat_select.name }}{% endif %}{% if top_panel.in_town %} {{ top_panel.in_town }}{% else %} в любом из городов России{% endif %} без регистрации всего за 1 минуту. {{ top_panel.settings.name }} - бесплатная доска объявлений{% if top_panel.net_town %} {{ top_panel.net_town }}{% endif %} для Вас!{% endblock %}
{% block keywords 'подать объявление, подать объявление бесплатно, бесплатное объявление, разместить объявление, дать объявление' %}
{% block canonical %}{{ url('add_adv_page',{region: top_panel.url_region }) }}{% endblock%}

{% block content %}
    <div class="clearfix">
      {% trans_default_domain 'FOSUserBundle' %}
        {% if form %}
            <div class="col-md-9 padding-0">
                {# Баннер под поиском #}
				{#
                {% if banner_search and user.roles[1] is not defined %}
                    <div class="clearfix padding-5 text-center banner" onclick="set_click({{ banner_search.id }})">
                        <div style="width: {% if banner_search.width %}{{ banner_search.width }}px{% else %}100%{% endif %}; margin: 0 auto; text-align: center;">
                            {{ banner_search.code|raw }}
                        </div>
                    </div>
                {% endif %}
				#}
                <div class="clearfix padding-5" xmlns:v="http://rdf.data-vocabulary.org/#">
                    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li typeof="v:Breadcrumb">
                            <a href="{{ path('site_first_page_homepage') }}"
                               title="Все объявления"
                               rel="v:url"
                               property="v:title">Все объявления</a>
                        </li>
                        {% if top_panel.current_region or top_panel.current_area %}
                          <li typeof="v:Breadcrumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ path('site_first_page_homepage', { region: top_panel.url_region }) }}"
                               title="{% if top_panel.current_region %}{{ top_panel.current_region }}{% elseif top_panel.current_area %}{{ top_panel.current_area }}{% endif %}"
                               rel="v:url"
                               property="v:title">
                               <span itemprop="name">{% if top_panel.current_region %}{{ top_panel.current_region }}{% elseif top_panel.current_area %}{{ top_panel.current_area }}{% endif %}</span>
                            </a>
                            <meta itemprop="position" content="1" />
                          </li>
                        {% endif %}                        
                        <li typeof="v:Breadcrumb">
                          <span rel="v:url" property="v:title" title="Подать объявление">Подать объявление</span>
                        </li>
                    </ol>            
                </div>
                <h1 class="padding-5">Подать объявление бесплатно{% if cat_select %} в рубрику {{ cat_select.name }}{% endif %}{% if top_panel.in_town %} {{ top_panel.in_town }}{% endif %}</h1>

                {% for flashMessage in app.session.flashbag.get('noticesite') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Закрыть</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('alertsite') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Закрыть</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}

                <div class="clearfix padding-5">
                  <h4 class="hidden-xs">Здесь можно подать бесплатное объявление без дополнительной регистрации.</h4>
                  <p><b>Важно!</b> Все объявления после публикации проходят проверку и могут быть сняты с размещения на сайте. Чтобы <b>подать объявление{% if cat_select %} {{ cat_select.directTitle }}{% endif %}{% if top_panel.in_town %} {{ top_panel.in_town }}{% endif %}</b> заполните все необходимые поля, добавьте
                    фотографии и нажмите кнопку <b>Подать объявление</b>. Мы публикуем объявления частных лиц и компаний (магазинов). Не подавайте объявлений нарушаюших
                    <a href="{{ path('site_pages_page', {alias:'rules'})}}" title="Правила {{ top_panel.settings.name }}" target="_blank">Правила {{ top_panel.settings.name }}</a> или действующее
                    законодательство РФ. Поля отмеченные зеленым цветом обязательны для заполнения!</p>
                  <p>Указывайте только реальную и адекватную цену <b>в рублях</b> - если вы хотите <b>подать объявление бесплатно</b>, укажите цену <b>0</b>.</p>                  
                </div>
                <div id="add_adv">
                    <form class="padding-0" id="add_adv_form" role="form" method="POST" {{ form_enctype(form) }}>
                        {{ form_errors(form) }}
                        {{ form_row(form.user_type) }}
                        <div id="company">
                            {% if form.company_name is defined %}{{ form_row(form.company_name) }}{% endif %}
                        </div>
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        <div id="user_pass">
                            {% if form.password is defined %}{{ form_row(form.password) }}{% endif %}
                        </div>
						{{ form_row(form.email_status) }}
                        {% if form.shop_id is defined %}{{ form_row(form.shop_id) }}{% endif %}
                        {{ form_row(form.phone) }}
						{{ form_row(form.skype) }}
                        {{ form_row(form.area_id) }}
                        <div id="town">
                            {% if form.region_id is defined %}{{ form_row(form.region_id) }}{% endif %}
                        </div>
                        {{ form_row(form.category_id) }}
                        <div id="params">
                            {% for field in category_fileds_array if (attribute(form, field) is defined) %}
                                {{ form_row(attribute(form, field)) }}
                            {% endfor %}
                        </div>
                        <div id="name_adv">
							{% if form.name is defined %}{{ form_row(form.name) }}{% endif %}
						</div>
						<div id="desc_adv">
							{% if form.description is defined %}{{ form_row(form.description) }}{% endif %}
						</div>
							{% if form.site is defined %}{{ form_row(form.site) }}{% endif %}
                        <div class="form-group form-site">
                            {{ form_label(form.image) }}
                            {% if images %}
                                <div class="col-sm-7 adv_images padding-5 clearfix">                                    
                                    {{ form_widget(form.image) }}<br>
                                    {% for image in images %}
                                        <div class="upload_img">
                                            <img id="img_{{ image.id }}"
                                                 src="/images/a/images/{{ image.path }}?timestamp={{ "now"|date("His") }}">
                                            <span class="image_delete link" onclick="imgDelete({{ image.id }})"
                                                  title="удалить изображение"><i class="fa fa-trash-o"></i></span>
                                            <span class="image_rotate link" onclick="imgRotate({{ image.id }})"
                                                  title="повернуть изображение"><i class="fa fa-repeat"></i></span>
                                        </div>
                                    {% endfor %}									
                                </div>
                            {% endif %}
                        </div>
                        {{ form_row(form.imagedelete) }}
                        <div id="price_div">
							{% if form.price is defined %}{{ form_row(form.price) }}{% endif %}
							{% if form.dogovor is defined %}{{ form_row(form.dogovor) }}{% endif %}
							{% if form.torg is defined %}{{ form_row(form.torg) }}{% endif %}
						</div>
						{{ form_row(form.youtube) }}
                        {#{{ form_row(form.captcha) }}#}
                        {{ form_row(form.enabled) }}
                        {{ form_rest(form) }}
                        <br>
						<p>Соглашаясь с Правилами использования сервиса, Вы подтверждаете свое согласие на передачу и обработку ваших данных в <b>{{ top_panel.settings.name }}</b>, а также подтверждаете своё совершеннолетие и ответственность за размещение объявления.</p>
                        <hr>
						<div class="padding-5">Используйте платные пакеты услуг,
                            чтобы ваше объявление располагалось на приоритетных местах. Подключите пакет сейчас или
                            сделайте это позже из Личного кабинета. К оплате принимаются банковские карты, Яндекс.Деньги.
                        </div><br>
                        <div class="form-group form-site padding-0 clearfix packets">
                            <label class="col-sm-2 control-label text-right">Пакет услуг:</label>
                            <div class="col-sm-10 padding-0">                                
								{% for packet in packets %}
									<div class="col-sm-4 padding-5">
										<div class="alert {% if packet.id == 3 %}alert-free{% elseif packet.id == 2 %}alert-turbo{% elseif packet.id == 1 %}alert-vip{% endif %} packet_info show"
										 id="packet_info_{{ packet.id }}" role="alert">
											<div class="clearfix">
											{% if packet.id == 1 %}
												<img class="img-packet-adv" src="/bundles/sitefirstpage/images/vip.png" title="{{ packet.name }}" alt="{{ packet.name }}">
											{% elseif packet.id == 2 %}
												<img class="img-packet-adv" src="/bundles/sitefirstpage/images/turbo.png" title="{{ packet.name }}" alt="{{ packet.name }}">
											{% endif %}
											<input id="packet_{{ packet.id }}" type="radio" name="packet" value="{{ packet.id }}"
												{% if packet.id == 3 %}checked{% endif %}><label for="packet_{{ packet.id }}" class="padding-5"><h4 class="padding-5"><strong>{{ packet.name }}</strong></h4></label>
												</div>												
										{{ packet.description|raw }}
										<div>Срок размещения: <strong>90 дней</strong></div>
										{% if packet.id == 3 %}
											<hr><h4>БЕСПЛАТНО</h4>
										{% else %}
											<hr><h4>{{ packet.price }} <i class="fa fa-rub"></i> на {{ packet.days }} дней</h4>{% endif %}
										</div>
									</div>
								{% endfor %}
                            </div>
                        </div>

                        <div class="col-sm-offset-5 col-sm-7 padding-5 clearfix">
                            <button class="btn btn-add pull-right" type="submit" id="advs_save">Подать объявление</button>
                        </div>                        
                    </form>
                </div><br><br><br>
                {# Баннер #}
                {#
				{% if banner_bottom and user.roles[1] is not defined %}
                    <div class="clearfix padding-5 text-center banner" onclick="set_click({{ banner_bottom.id }})">
                        <div style="width: {% if banner_bottom.width %}{{ banner_bottom.width }}px{% else %}100%{% endif %}; margin: 0 auto; text-align: center;">
                            {{ banner_bottom.code|raw }}
                        </div>
                    </div><br>
                {% endif %}
				#}
            </div>

            <!-- Правая сторона страницы -->
            <div class="col-md-3 padding-5">
                <div class="col-sm-6 col-md-12 padding-5">
					<div class="panel panel-info">
						<div class="panel-heading">
							<strong><i class="fa fa-fw fa-info"></i> Помощь</strong>
						</div>
						<div class="panel-body">
							<h2>Как правильно подать объявление?</h2>
							{% if user == 'anon.' %}
								<strong>Если вы уже зарегистрированы на нашем сайте, авторизуйтесь перед тем как подать
									объявление - вам так будет удобнее.</strong><br>
                  <p class='text-center'>
                  <a class="btn btn-default" data-title="Войти" data-toggle="modal" data-target="#login-form" title="Войти"><img width="20" src="/bundles/sitefirstpage/images/login.png" alt="Войти"> <span class="hidden-sm">Войти</span></a>
                  </p>
								<hr>
								Если вы в первый раз подаете объявление, обязательно укажите свой электронный адрес, он будет использован для вашей автоматической регистрации на сайте.
								<hr>
							{% endif %}
							Чтобы объявление, которое Вы подаете, появилось на сайте, соблюдайте следующие правила:
							<ul>
								<li>название объявления должно начинаться с заглавной буквы, быть кратким и понятным и точно
									отражать его содержание;
								</li>
								<li>название и описание не должно состоять только из заглавных букв;</li>
								<li>описание должно быть максимально полным, как минимум 200 символов;</li>
								<li>не указывайте в описании номера телефонов или адреса веб-сайтов - они будут удалены
									автоматически;
								</li>
								<li>добавьте изображения или фотографии, такие объявления пользуются большей
									популярностью;
								</li>
								<li>указывайте как можно больше характеристик вашего объекта, товара или услуги.</li>
							</ul>
						</div>
					</div>
				</div>
                {% include 'SiteFirstPageBundle:Default:cabinet.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}
