{% extends 'SiteFirstPageBundle::layout.html.twig' %}

{% block title 'Новости' %}
{% block metatitle 'Новости' %}
{% block canonical %}{{ url('site_news_page', { region: top_panel.url_region }) }}{% endblock%}
{% block description 'Самые последние новости нашего сайта бесплатных объявлений.' %}

{% block content %}
		<div class="clearfix" id="main">
      <div class="col-md-9 padding-5">
        {# Баннер под поиском #}{% if banner_search and user.roles[1] is not defined %}<div class="clearfix"><div style="{% if banner_search.width %}width: {{ banner_search.width }}px;{% endif %} margin: 0 auto; text-align: center;">{{ banner_search.code|raw }}</div></div><br>{% endif %}
        <div class="clearfix" xmlns:v="http://rdf.data-vocabulary.org/#">
          <ol class="breadcrumb">
            <li typeof="v:Breadcrumb">
              <a href="{{ path('site_first_page_homepage') }}"
                 title="Главная"
                 rel="v:url"
                 property="v:title">Все объявления</a>
            </li>
            <li typeof="v:Breadcrumb">Новости</li>
          </ol>
        </div>      
        <h1>Новости</h1>
        {% for page in pagination if page %}
          <div class="clearfix">
            <div class="col-sm-3">
              {% if page.icon %}
                <a href="{{ path('site_news_item_page', {'alias' : page.alias} ) }}" title="Перейти к новости">
                <img class="img-responsive" src="{{ asset('images/news/images/') }}{{ page.icon }}"
                   alt="{{ page.title }}" title="{{ page.title }}"></a>
              {% endif %}
            </div>
            <div class="col-sm-9">
              <a href="{{ path('site_news_item_page', {'alias' : page.alias} ) }}" title="Перейти к новости">
                <h2>{{ page.title }}</h2>
              </a>						
              <p>{{ page.description }}<br><a href="{{ path('site_news_item_page', {'alias' : page.alias} ) }}" title="Перейти к новости">Перейти к новости</a></p>						
              <strong>{{ page.createdAt|date('d.m.Y') }}</strong>
            </div><hr>
          </div>
        {% endfor %}        
      </div>
      <div class="col-md-3 padding-5">
        {# Вы смотрели #}
        {% include 'SiteFirstPageBundle:Default:yadvs.html.twig' %}
      
        {# Личный кабинет #}
        {% include 'SiteFirstPageBundle:Default:cabinet.html.twig' %}
        {# Баннер в правой колонке #}
        {% if banner_right %}
          <div class="col-xs-12 padding-5 hidden-xs">            
          <aside>
            <div class="adv_right" onclick="set_click({{ banner_right.id }})">
              <div style="width: {{ banner_right.width }}px; margin: 0 auto;">{{ banner_right.code|raw }}</div>
            </div>
          </aside></div>
        {% endif %}            
      </div>
    </div>
{% endblock %}
