{% extends 'AdminAdminBundle::layout.html.twig' %}
{% form_theme form 'AdminAdminBundle:Form:fields.html.twig' %}

{% block content %}
    <h1>Добавление страницы</h1>
    <div class="clearfix"><br></div>

    {% for flashMessage in app.session.flashbag.get('notice1') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error1') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if form %}
        <form class="form-horizontal" role="form" method="POST" {{ form_enctype(form) }}>            
            {{ form_widget(form) }}
        </form>
    {% endif %}

    <div class="clearfix"><br></div>
    <a class="btn btn-default" href="{{ path('admin_admin_pagespage') }}" title="Назад"><span class="glyphicon glyphicon-arrow-left"></span> Назад</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if form %}
       {{ form_javascript(form) }}
    {% endif %}
{% endblock %}