{% extends 'AdminAdminBundle::layout.html.twig' %}
{% form_theme form 'AdminAdminBundle:Form:fields.html.twig' %}

{% block content %}
    <h1>Редактирование баннера</h1>
    <div class="clearfix"><br></div>

    {% for flashMessage in app.session.flashbag.get('notice1') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error1') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if picture %}
        <div class="col-sm-12 text-center">
            <img src="/images/banners/{{ picture }}" style="max-width: 100%;">
        </div>
        <label class="col-sm-3 control-label text-right">Код для вставки:</label>
        <div class="col-sm-9">
            {{ '<img src="/images/banners/'~picture~'">' }}
        </div>
        <div class="clearfix"><br></div>
    {% endif %}

    {% if form %}
        <form class="form-horizontal" role="form" method="POST" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
    {% endif %}

    <div class="clearfix"><br></div>
    <a class="btn btn-default" href="{{ path('admin_admin_bannerspage') }}" title="Назад"><span class="glyphicon glyphicon-arrow-left"></span> Назад</a>

{% endblock %}